#   Please paste the API keys in here (Replace everything in this file)
#   Please also remove the '.example' from the file name, it should be just '.env'


#   There should be three keys. You can find them in any of the following places:

#   1) Title slide of presentation
#   2) Final slide of presentation
#   3) Pebblepad submission - description section


ADZUNA_APP_ID=the_copied_app_id
ADZUNA_API_KEY=the_copied_api_key
MONGO_URI=the_copied_mongo_uri

